body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #fbd4fc;
    color: #c817cf;
  	}

.navbar {
	text-align: center;
	background-color: #003366;
	color: white;
	padding: 10px 20px;
	}

.navbar span {
	margin: 0 15px;
	cursor: pointer;
	}

.top{
	vertical-align:top;
}


.content {
  padding: 40px 20px;
  background-color: white;
	}

	.break{
		display: flex;
  	justify-content: space-around;
	}

	.center {
		margin: 0 auto;
	}
	.haha {
		background-color: white;
		border: 2px solid green;
    color: #2ddb1b  ;
    padding : 10px;
    line-height: 1.6;
    max-width: 600px;
    width: 300px;
    margin-left: 100px;
	}

	.hihi {
		background-color: white;
		border: 2px solid green;
    color: #2ddb1b  ;
    padding : 10px;
    line-height: 1.6;
    max-width: 600px;
    width: 300px;
    margin-right: 100px;
	}

footer {
  text-align: center;
  padding: 20px;
  background-color: #222;
  color: white;
	}	

.welcome {
      background-color: #003366;
      color: white;
      padding: 40px 20px;
      text-align: center;
    }

    .header h1 {
      margin: 0;
      font-size: 36px;
    }

    .welcome-section {
      padding: 40px 20px;
      text-align: center;
    }

    .welcome-section h2 {
      color: #003366;
    }

    .welcome-section p {
      max-width: 600px;
      margin: 0 auto;
      font-size: 18px;
      line-height: 1.6;
    }

    .btn {
      display: inline-block;
      margin-top: 20px;
      padding: 10px 20px;
      background-color: #003366;
      color: white;
      text-decoration: none;
      border-radius: 5px;
    }

    .btn:hover {
      background-color: #0055aa;
    }

    .paragraph-box {
      background-color: #ffffff;
      max-width: 800px;
      margin: 60px auto;
      padding: 30px;
      border-radius: 12px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
      text-align: center;
    }

    .paragraph-box h2 {
      color: #003366;
      margin-bottom: 20px;
    }

    .paragraph-box p {
      font-size: 18px;
      line-height: 1.6;
      color: #333333;
    }

button {
    background-color: #004488;
    color: white;
    border: none;
    padding: 10px 15px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
}
